body {
    margin: 0;
}

header {
	text-align: center;
	padding: 5rem 0 7rem;
	margin-bottom: 5rem;
}

main {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.nq-card {
    margin: 0 auto;
    width: 100%;
    max-width: 180rem;
}