body {
	margin: 0;
}

header {
	text-align: center;
	padding: 5rem 0 7rem;
	margin-bottom: 5rem;
}

main {
	width: 92.5%;
	max-width: 1200px;
	margin: auto;
}

.nq-card {
	margin: 0 auto;
	width: 100%;
	max-width: 250rem;
}
